.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.activityContainer {
  background-color: #323748;
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.actTitle {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 70px;
  color: #ffbd00;
  text-shadow: 3px 3px 0px #977107, 3px 3px 0px #856306;
  -webkit-text-stroke: 1px black;
  transition: all 500ms ease;
}

.actTitle:hover {
  font-size: 75px;
}

.activitiesBox {
  background-color: rgba(16, 16, 16, 0.95);
  border-radius: 13px;
  border: 1px solid rgba(16, 16, 16, 0.95);
  height: 85%;
  width: 65%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
}

.actCard {
  background-color: rgba(124, 124, 124, 0.95);
  margin: 5px;
  width: 48%;
  height: 95%;
  overflow: hidden;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.actName {
  color: black;
  text-decoration: underline;
  text-transform: uppercase;
  margin: auto;
}

.actDifficulty {
  color: black;
  margin: 0px;
  margin-left: 10px;
}

.actDuration {
  color: black;
  margin-left: 10px;
}

.actSeason {
  color: black;
  margin-left: 10px;
}

.informationContainer {
  background-color: #272b39;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.img {
  width: 400px;
  height: 220px;
  margin-left: 5px;
}

.labelMap {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 20px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.countryName {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 15px;
  color: rgb(0, 0, 0);
  width: 150px;
}

.text {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 15px;
  color: rgb(0, 0, 0);
}

@media (max-width: 1000px) {
  .actTitle {
    display: none;
  }
  .labelMap {
    font-size: 14px;
  }
  .countryName {
    font-size: 11px;
  }
  .text {
    font-size: 11px;
  }
}

@media (max-width: 800px) {
  .actTitle {
    display: none;
  }
  .labelMap {
    font-size: 8px;
  }
  .countryName {
    font-size: 7px;
    width: 50px;
  }
  .text {
    font-size: 7px;
  }
}
